*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

header{
    width: 100vw;
    height: 10vh;
}

.input-field{
    display: flex;
    flex-direction: column;
}

.register-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}

.register-form form{

    height: 60vh;
    line-height: 2rem;
}

.input-field input{

    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    outline: none;
}

.submit-btn{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}


